body{
    min-height: 450px;
    margin-top: 150px;
    margin-bottom: 150px;
}
.img{
    width: 20vw;
}
@media screen and (min-width:768px) {
    
.arrow{
    display: none;
}

.img{
    width: 20vw;
}
.img-holder{
    display: flex;
    justify-content: safe;
    width: 100%;
    max-width: 200%;
}
}
button{
    background-color: blueviolet;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 10vw;
}

@media screen and (max-width:767px) {
    .img-holder{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .inner-img{
        display: none;
    }
    .img{
        width: 30vw;
        height: 20vh;
    }
    .cont{
          display: flex;
          align-items: center;
          justify-content: safe;
    }
    .arrow:hover{
        color: red;
        cursor: pointer;
    }
    
}